<body>
    <h1>{{title}}</h1>
    <h2>Please fill out this form to the best of you ability.</h2>
    
    <form action="/admin/Person/create" method="POST">
            <label for="firstName">First Name:</label><br>
            <input name="firstName" type="text" id="firstName"><br><br>
            <label for="lastName">Last Name:</label><br>
            <input name="lastName" type="text" id="lastName"><br><br>
            <label for="homePhone">Home Phone:</label><br>
            <input name="homePhone" type="text" id="homePhone"><br><br>
            <label for="cellPhone">Cell Phone:</label><br>
            <input name="cellPhone" type="text" id="cellPhone"><br><br>
            <label for="homeAddress">Home Address:</label><br>
            <input name="homeAddress" type="text" id="homeAddress"><br><br>
            <label for="city">City:</label><br>
            <input name="city" type="text" id="city"><br><br>
            <label for="state">State:</label><br>
            <input name="state" type="text" id="state"><br><br>
            <label for="zip">Zip:</label><br>
            <input name="zip" type="text" id="zip"><br><br>
            <label for="email">Email:</label><br>
            <input name="email" type="text" id="email"><br><br>
            <label for="emergencyContact">Person to Contact in an emergency:</label><br>
            <input name="emergencyContact" type="text" id="emergencyContact"><br><br>
            <label for="emergencyPhone">Emergency Phone:</label><br>
            <input name="emergencyPhone" type="text" id="emergencyPhone"><br><br>
            <input type="submit" value="Add Person"><br>
        </form>
</body>